
<div class="blockPage">
    <div class="pageHeader">
        {{title}}
    </div>
    <div class="menu">
		<div class="menuDecor" >
			<span style="left: 10px;" class="arrow" (click)="backPage()" >&lArr;</span>
			<ul>
				<li>
					<input id="themeNews" type="text" placeholder="ТЕМА" value="" >
				</li>
				<li>
					<a (click)="goToPageNews()" >Показать</a>
				</li>
			</ul>
			<span style="right: 10px;" class="arrow" (click)="nextPage()" >&rArr;</span>
		</div>
    </div>
</div>



<router-outlet></router-outlet>



